@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
	/* fonts */
	--font: "Roboto Condensed", Arial, 'Trebuchet MS';
	--font-color-01: #ffffff;
	--font-color-02: #ffffff;
	/* color pallet */
	--background-color-1: #0a0443;
	--background-color-2: #2c2292;
	--background-color-3: #3c38e5;
	--background-color-4: #00b5b6;
	--background-color-5: #00e5df;
	--background-color-6: #fff;
	--background-transparent: rgba(255, 255, 255, 0.85);
	--background-contrast-color-01: #df9803;
	/* size */
	--max-width: 900px;
	--min-width: 365px;
	--gap: 10px;
	--radius: 4px;
	/* others */
	--line-divider-color: rgb(255, 255, 255);
}

html {
	/* background-color: var(--background-color-4); */
	font-family: var(--font);
	color: var(--font-color-01);
	font-size: 16px;
}

body {
	min-width: var(--min-width);
	max-width: calc(var(--max-width) + 80px);
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/* ****** */
/* HEADER */
/* ****** */

header {
	position: relative;
}

h1 {
	color: var(--background-color-1);
	text-align: center;
}

/* ↓ menu-button source: 
	https://codepen.io/ainalem/pen/wvKOEMV */

#menu-button {
	border: none;
	position: absolute;
	right: 20px;
	top: 10px;
	height: 40px;
	width: 40px;
	/* min-width: auto; */
	background-color: var(--background-color-1);
	cursor: pointer;
	padding: 0;
	border-radius: calc(var(--radius) / 2);
	/* z-index: 99; */
}

#glasses {
	margin-top: 20px;
}

header svg {
	border-radius: calc(var(--radius) / 2);
	transition: 0.35s;
}

header svg:hover {
	background-color: var(--background-contrast-color-01);
}

header svg:hover .line {
	stroke: var(--background-color-1);
}

.line {
	fill: none;
	stroke: var(--background-contrast-color-01);
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

/* ↑ menu-button source:
		https://codepen.io/ainalem/pen/wvKOEMV */

header #background-top {
	width: 100%;
	position: absolute;
	z-index: -1;
	bottom: 45px;
}

header .title-background img:first-of-type {
	border-radius: 3px;
	padding: calc(var(--gap) / 2);
	background-color: white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.title-background,
.menu-background {
	background-color: var(--background-transparent);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-radius: 4px;
	margin: var(--gap);
	padding: calc(var(--gap) * 2) var(--gap);
	display: flex;
	flex-direction: row;
	gap: var(--gap);
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title-background {
	margin-bottom: 2px;
}

header .title-background h1 {
	color: var(--background-color-1);
	font-size: 1.7rem;
}

/* *** */
/* NAV */
/* *** */

nav .menu-background {
	background-color: var(--background-color-1);
	padding: 0;
	flex-direction: column;
	margin-top: 0px;
	margin-top: var(--gap);
}

nav ul {
	width: 100%;
	display: none;
}

nav .show-menu {
	display: block;
	opacity: 1;
}

nav li:hover a {
	background-color: var(--background-color-3);
	color: var(--font-color-01);
}

nav img {
	margin-left: 3px;
	margin-bottom: 1px;
}

nav .active {
	background-color: var(--background-color-2);
	/* color: var(--background-color-1); */
}

nav .active::after {
	content: "|";
	color: var(--font-color-01)
}

nav .active::before {
	content: '|';
	color: var(--font-color-01)
}

/* **** */
/* MAIN */
/* **** */

main {
	padding: var(--gap);
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--gap);
	max-width: var(--max-width);
	margin: 0 auto;
}

main .screenshot {
	width: 100% !important;
	height: auto !important;
}

main h2 {
	font-size: 1.8rem;
	color: var(--background-color-1);
	width: 100%;
	text-align: center;
}

main hr {
	width: 100%;
	border-color: var(--line-divider-color);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	margin: 10px 0;
	margin-top: 0;
	margin-left: -1px;
}

main section {
	display: flex;
	flex-direction: column;
}

main .card-header {
	background-color: var(--background-color-1);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius) var(--radius) 0px 0px;
}

main .card-body {
	background-color: var(--background-color-6);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-radius: 0px 0px var(--radius) var(--radius);
	border-top: none;
	margin-bottom: calc(var(--gap) * 2);
	padding: var(--gap);
	height: calc(100% - 61px);
	display: flex;
	flex-direction: column;
}

main section ul,
nav ul {
	padding: 0;
	margin: 0;
}

nav ul li {
	list-style: none;
	background-color: var(--background-color-1);
	margin: 2px 0;
}

nav li a {
	display: flex;
	align-items: center;
	height: 65px;
	text-decoration: none;
	padding: 1px;
	color: var(--font-color-01);
}

main section h4,
main .card-body p {
	color: var(--background-color-1);
	margin: calc(var(--gap) * 1.8);
	margin-right: calc(var(--gap));
}

main .card-body p {
	color: var(--background-color-1);
}

main section .headings {
	font-size: 2.8rem;
	font-weight: 700;
}

main section .card-title {
	font-weight: 600;
	font-size: 1.5rem;
	text-align: center;
}

main section .underlined {
	text-decoration: underline;
}

main section li a {
	height: auto;
	padding: var(--gap);
	text-align: center;
	cursor: default;
}

/* header nav override */
nav ul li {
	margin: 0;
}

nav li a {
	height: 30px;
	font-size: 0.8rem;
	font-weight: 400;
	justify-content: center;

}

nav li a span {
	margin: 0 4px;
}

/**/

nav h4 {
	margin: 0 var(--gap);
}

main section span {
	font-weight: 400;
	color: var(--background-color-1);
}

main section .color-container,
main section .typography-container {
	padding: 15px;
	border-radius: var(--radius);
	margin: 0 var(--gap);
	text-align: center;
}

main section .color-container:last-of-type {
	border: var(--background-contrast-color-01) solid 1px;
}

main section .color1 {
	background-color: #ff931e;
	color: var(--background-color-1);
}

main section .color2 {
	background-color: #0a0443;
}

main section .color3 {
	background-color: #2c2292;
}

main section .color4 {
	background-color: #3c38e5;
}

main section .color5 {
	background-color: #00b5b6;
	color: #000;
}

main section .color6 {
	background-color: #00e5df;
	color: var(--background-color-2);
}

main section .color7 {
	background-color: #ffffff;
	color: var(--background-color-2);
	margin-bottom: calc(var(--gap) * 2);
}

main section .typography1 {
	background-color: #ff931e;
	color: var(--background-color-2);
}

main section .typography2 {
	background-color: #0a0443;
}

main section .typography3 {
	background-color: #2c2292;
}

main section .typography4 {
	background-color: #3c38e5;
}

main section .typography5 {
	background-color: #00b5b6;
	color: var(--background-color-2);
}

main section .typography6 {
	background-color: #00e5df;
	color: var(--background-color-2);
}

main section .typography7 {
	background-color: #ffffff;
	color: var(--background-color-2);
	margin-bottom: calc(var(--gap) * 2);
}

main .topography-card-body {
	gap: calc(var(--gap) * 2);
	padding: calc(var(--gap) * 2);
}

main .topography-card h4,
main .topography-card p {
	margin: 0;
}

main .topography-card .subtitle {
	font-size: 1.6rem;
	font-weight: 100;
	margin-top: -21px;
	margin-left: 25px;
}

main .content-wrapper {
	position: relative;
	height: calc(100% - 34px);
	width: 100%;
	max-width: 410px;
	margin: 0 auto;
}

main .image-wrapper img,
main .wireframe img {
	width: 100% !important;
	height: auto !important;
}

main #iphone-frame {
	width: calc(100% - 16px) !important;
	height: auto;
	max-width: 410px;
	position: absolute;
	top: 0;
	z-index: 0;
}

main .image-wrapper {
	overflow: auto;
	position: relative;
	width: calc(100% - 52px);
	height: 100%;
	max-width: 370px;
	margin-left: 20px;
	margin-top: 17px;
	border-radius: 50px;
	z-index: 1;
}

main #iphone-camera {
	position: absolute;
	width: calc(100% - 20px);
	top: 0;
	z-index: 1;
}

main #iphone-home {
	position: absolute;
	width: calc(100% - 20px);
	bottom: -35px;
	left: 0px;
	z-index: 2;
}

/* ****** */
/* FOOTER */
/* ****** */

.footer-background {
	color: var(--font-color-01);
	background-color: var(--background-color-2);
	border-radius: 4px;
	margin: var(--gap);
	padding: calc(var(--gap) * 2) var(--gap);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
}

footer span img {
	margin: 0 0 -6px 4px;
}

footer p {
	font-size: 0.75rem;
}

/**************/
/* SCROLL-BAR */
/**************/

/* width */
::-webkit-scrollbar {
	width: 8px;
	background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: transparent;
}