/**********/
/* HEADER */
/**********/

.header {
  padding: calc(var(--gap) * 1.5) var(--gap);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

header .logo-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

header .logo-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .h1-subtitle {
  grid-column: 2 / 3;
  font-size: 0.8rem;
  margin-top: -3px;
}

header .logo-img {
  margin-right: calc(var(--gap) / 1.5);
}

header .social-wrapper {
  margin-top: 3px;
}

header ul {
  display: none;
  width: 100%;
  max-width: 500px;
}

.header ul li {
  list-style: none;
  border-radius: calc(var(--radius) / 3);
  width: 100%;
}

.header ul li a {
  text-decoration: none;
  display: flex;
  padding: var(--gap);
  justify-content: center;
  align-items: center;
  width: calc(100% - var(--gap) * 2);
  background-color: var(--bg-white);
  color: var(--font-dark-color);
  box-shadow: none;
  font-size: .7rem;
}

.header ul li:hover a {
  background-color: var(--bg-white);
  width: 75%;
}

/* ↓ menu-button source: 
	https://codepen.io/ainalem/pen/wvKOEMV */

#menu-button {
  height: 40px;
  width: 40px;
  background-color: var(--bg-white);
  cursor: pointer;
  padding: 0;
  border-radius: var(--radius);
  border: 1px solid var(--bg-color-01);
}

header svg {
  border-radius: calc(var(--radius) / 2);
  transition: var(--transition-duration);
}

header svg:hover {
  background-color: var(--bg-color-01);
}

header svg:hover .line {
  stroke: var(--bg-white);
}

header .line {
  fill: none;
  stroke: var(--bg-color-01);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

header .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

header .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

header .opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

header .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

header .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* ↑ menu-button source:
  https://codepen.io/ainalem/pen/wvKOEMV */

/*******/
/* NAV */
/*******/

.nav {
  padding: 0;
  margin: 0 auto;
  margin-top: 1px;
  display: none;
  width: calc(100% - var(--gap) * 5);
}

.header ul,
.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li {
  list-style: none;
  border-radius: calc(var(--radius) / 3);
}

.nav ul li a {
  text-decoration: none;
  display: flex;
  padding: var(--gap);
  justify-content: center;
  align-items: center;
  width: calc(100% - var(--gap) * 2);
}

/********/
/* MAIN */
/********/

.main {
  padding: 0;
  border: none;
  box-shadow: none;
}

main .hero-card {
  height: 150px;
  background-image: url('../images/hero.png');
  background-size: 100% auto;
  background-position: center;
}

.spotlights-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: 0 calc(var(--gap) / 2);
}

.spotlight-card {
  box-shadow: none;
  border: var(--border-line-01);
  border-radius: var(--radius);
  padding: var(--gap);
  margin: 0 var(--gap);
}

.temp {
  min-height: 150px;
}

/**********/
/* FOOTER */
/**********/

.footer-card {
  padding: calc(var(--gap) * 3);
  background-color: var(--bg-light-01);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--gap) * 3);
}

footer .logo-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--gap);
  border: var(--border-line-02);
  border-radius: var(--radius);
  padding: calc(var(--gap) * 1.5);
}

footer .foot-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

footer .foot-wrapper:nth-of-type(2) {
  gap: 0;
  font-size: 0.9rem;
  color: var(--font-grey-color);
}

footer .contact-info {
  color: var(--font-grey-color);
  text-align: center;
  font-size: 0.9rem;
}

footer hr {
  margin: var(--gap);
  width: calc(100% - var(--gap));
  border: var(--hr-border);
}

.show-menu {
  display: flex;
}

.hide {
  display: none;
}
