/**********/
/* BANNER */
/**********/

.banner-wrapper {
  position: relative;
  display: none;
}

.banner-wrapper input {
  display: none;
}

.banner-wrapper .banner {
  text-align: center;
  font-size: 0.8rem;
  background-color: var(--bg-color-07);
  transition: all .3s ease;
  max-height: 30px;
  width: 100%;
  padding: var(--gap);
  opacity: 1;
  top: 0;
}

.banner-wrapper input:checked~.banner {
  padding: 0;
  max-height: 1px;
  top: -100%;
  opacity: 0;
}

.banner-wrapper .x {
  cursor: pointer;
  font-size: 0.3rem;
  position: absolute;
  left: 2px;
  top: 3px;
  z-index: 1;
  transition: all .3s ease;
}

.banner-wrapper input:checked~.x {
  top: 0;
  opacity: 0;
}

.banner-wrapper label:after {
  position: absolute;
  top: 22px;
  z-index: 1;
  right: 0;
  content: '';
  width: 12px;
  height: 12px;
  background: url("../images/arrow-collapse.svg") no-repeat 0 0;
  background-size: cover;
  transition: all .3s ease;
  cursor: pointer;
  transform: rotate(180deg);
}

.banner-wrapper input:checked+label::after {
  top: 0;
  transform: rotate(0deg);
}

.collapsible-banner {
  background-color: var(--bg-color-07);
  transition-duration: .3s;
  max-height: 1px;
  opacity: .5;
  position: relative;
  top: -100%;
}

/**********/
/* HEADER */
/**********/
.header {
  padding: calc(var(--gap) * 1.5) var(--gap);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

header .logo-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

header .logo-title-wrapper,
footer .logo-title-wrapper {
  font-weight: bold;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .h1-subtitle,
footer .h1-subtitle {
  grid-column: 2 / 3;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: -3px;
}

header .logo-img {
  margin-right: calc(var(--gap) / 1.5);
}

header .social-wrapper {
  margin-top: 3px;
  text-align: center;
}

body.dark header .social-wrapper img:first-of-type {
  content: url('../images/linkedin-dark-logo.svg');
}

body.dark header .social-wrapper img:last-of-type {
  content: url('../images/facebook-dark-logo.svg');
}

header .menu-wrapper {
  display: flex;
  justify-content: flex-end;
}

header #header-menu {
  width: 100%;
}

header ul {
  display: none;
  align-items: center;
  justify-content: flex-end;
  max-width: 600px;
}

.header ul li {
  list-style: none;
  border-radius: calc(var(--radius) / 3);
  width: 100%;
}

.header ul li a {
  text-decoration: none;
  display: flex;
  padding: var(--gap);
  justify-content: center;
  align-items: center;
  height: 15px;
  width: calc(100% - var(--gap) * 2);
  background-color: var(--bg-white);
  color: var(--font-dark-color);
  box-shadow: none;
  font-size: .6rem;
}

.header .active {
  color: var(--bg-color-02);
}

.header ul li:hover a {
  background-color: var(--bg-color-03);
  color: var(--bg-white);

}

.header .switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 15px;
  margin-left: var(--gap);
}

.header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.header .dark-slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.header .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: var(--transition-duration);
}

.header .slider::before {
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
}

body.dark .header .slider::before {
  background-color: var(--bg-color-06);
}

.header input:checked+.slider {
  background-color: var(--bg-color-02);
}

.header input:focus+.slider {
  box-shadow: 0 0 1px var(--bg-color-02);
}

.header input:checked+.slider::before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

.header .slider.round {
  border-radius: 34px;
}

.header .slider.round::before {
  border-radius: 50%;
}

/* ↓ menu-button source: 
	https://codepen.io/ainalem/pen/wvKOEMV */

#menu-button {
  height: 40px;
  width: 40px;
  background-color: var(--bg-white);
  cursor: pointer;
  padding: 0;
  border-radius: var(--radius);
  border: 1px solid var(--bg-color-01);
}

header svg {
  border-radius: calc(var(--radius) / 2);
  transition: var(--transition-duration);
}

header svg:hover {
  background-color: var(--bg-color-01);
}

header svg:hover .line {
  stroke: var(--bg-white);
}

header .line {
  fill: none;
  stroke: var(--bg-color-01);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

header .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

header .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

header .opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

header .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

header .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* ↑ menu-button source:
  https://codepen.io/ainalem/pen/wvKOEMV */

/*******/
/* NAV */
/*******/

.nav {
  padding: 0;
  margin: 0 auto;
  margin-top: 1px;
  display: none;
  width: calc(100% - var(--gap) * 5);
}

.header ul,
.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li {
  list-style: none;
  border-radius: calc(var(--radius) / 3);
}

.nav ul li a {
  text-decoration: none;
  display: flex;
  padding: var(--gap);
  justify-content: center;
  align-items: center;
  width: calc(100% - var(--gap) * 2);
}

body.dark .nav ul li a {
  color: var(--bg-color-06);
}

body.dark .nav ul li a:visited {
  color: var(--bg-color-06);
}

#toggle-button {
  position: absolute;
  top: 20px;
  right: 0;
}

/********/
/* MAIN */
/********/

main {
  padding: 0;
  border: none;
  box-shadow: none;
  position: relative;
}

main .basic-card {
  height: 140px;
}

main .hero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  position: relative;
  overflow: hidden;
  height: 140px;
}

main .hero-card picture {
  width: 100% !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
}

main .hero-card picture img {
  width: 100% !important;
  height: auto !important;
}

main .hero-card .button-01 {
  background-color: var(--bg-color-03);
}

main .hero-card .button-01:hover {
  background-color: var(--contrast-01);
}

main .hero-card .button-01:active {
  background-color: var(--contrast-01-lighter);
  color: var(--bg-white);
  margin-bottom: -0.3px;
}

main .events-card {
  position: relative;
  overflow: hidden;
}

main .events-card>p {
  font-size: 0.85rem;
  width: 53%;
}

main .events-card img {
  width: auto !important;
  height: 100%;
  position: absolute;
  z-index: -1;
  right: -80px;
  top: 0;
}

main .card-title-wrapper {
  width: 100%;
  position: relative;
}

main .card-title-wrapper p {
  margin-top: -4px;
  margin-left: 1px;
  font-size: 0.8rem;
}

main .weather-card {
  color: var(--bg-white);
  position: relative;
  overflow: hidden;
}

main .weather-card .wind-chill {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--radius);
  background-color: var(--bg-light-02);
  color: var(--bg-color-01);
  padding: calc(var(--gap) / 2);
  width: 35%;
  height: 32px;
  text-align: center;
  
}

main .weather-card .wind-chill  {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main .weather-card .wind-chill .wind-label {
  font-size: 0.6rem;
  margin-bottom: calc(var(--gap) / 2);
}

main .weather-card .wind-chill .wind-chill-det {
  font-weight: 600;
}

main .weather-card #weather-bg {
  width: auto !important;
  height: 100%;
  position: absolute;
  right: -83px;
  top: 0;
}

main .weather-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-01);
  z-index: -1;
}

main #three-days-wrapper {
  display: flex;
  flex-direction: row;
  gap: calc(var(--gap) / 2);
  width: calc(100% - 160px);
}

main .weather-details-wrapper {
  position: relative;
  margin-bottom: 7px;
  font-size: 0.65rem;
  text-align: center;
  padding-left: var(--gap);
  width: 70px;
  margin-bottom: calc(var(--gap) * 2);
}

main .weather-details-wrapper:last-child,
main .weather-details-wrapper:nth-child(2) {
  border-left: 1px solid var(--bg-light-01);
}

main .weather-card .contrast-title {
  color: var(--contrast-01);
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 30px;
}

main #weather-icon {
  position: absolute;
  top: -10px;
  left: 0;
}

main .spotlights-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--gap);
  padding: 0 calc(var(--gap) / 2);
  font-size: .8rem;
}

main .spotlights-wrapper .contrast-title {
  width: calc(100% - var(--gap));
  text-align: center;
  border-radius: var(--radius);
  color: var(--bg-color-03);
  max-width: 520px;
}

main .spotlight-card {
  box-shadow: none;
  border: var(--border-line-01);
  border-radius: var(--radius);
  padding: var(--gap);
  margin: 0 var(--gap);
  max-width: 500px;
  width: calc(100% - var(--gap) * 4);
  height: 120px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .spotlight-card h3 {
  font-size: 1.5rem;
}

main .spotlight-tittle-wrapper p {
  margin-top: -5px;
}

/********************/
/* MAIN | DIRECTORY */
/********************/

.main .basic-members-card {
  position: relative;
  border-left: 5px black solid;
  height: auto;
}

.main article {
  grid-column: 1 / 4;
  display: grid;
}

.main #discovery-subtitle {
  grid-column: 1 / 4;
  align-self: center;
  margin-top: var(--gap);
  margin-left: calc(var(--gap) * 2);
}

.main #grid,
.main #list {
  position: absolute;
  right: 145px;
  top: 23px;
  transform: translate(290%, -50%);
  width: 45px;
}

.main #grid {
  right: 195px;
}

.main #grid img,
.main #list img {
  margin-top: 4px;
}

.main .basic-members-card span {
  font-size: 0.86rem;
}

.main .grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* grid */

.main .grid #logo {
  height: 40px !important;
  width: auto !important;
}

.main .grid #badge {
  position: absolute;
  top: var(--gap);
  right: var(--gap);
  display: inline;
}

.main .grid .basic-members-card {
  text-align: center;
  align-items: center;
  gap: calc(var(--gap) / 4);
  height: auto;
}

.main .grid .title {
  display: none;
}

/* list */

.main .list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 2);
  padding-top: var(--gap);
}

.main .list img {
  display: none;
}

.main .list #badge {
  position: absolute;
  top: calc(var(--gap) / 2);
  right: calc(var(--gap) / 2);
  display: inline;
}


.main .list .basic-members-card {
  min-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding: calc(var(--gap) / 2);
  box-shadow: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  align-items: center;
}

.main .list .basic-members-card span:first-of-type {
  text-align: left;
}

.main .list .title {
  display: inline;
}

.main .list .basic-card:nth-child(odd) {
  background-color: var(--bg-light-02);
}

.main .list .basic-card:nth-child(even) {
  border: 1px solid var(--bg-light-01);
  border-left: 5px black solid;
}

/******************/
/* MAIN DISCOVER */
/******************/

.discover-main {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap);
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.discover-main .demographics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.discover-main .user-card {
  width: 100%;
  height: 200px;
  padding: var(--gap);
  box-sizing: border-box;
}

.card-content-wrapper #fname {
  border: 1px var(--contrast-font-color02) solid;
  border-radius: var(--radius);
  height: 40px;
  width: 320px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  text-align: center;
}

.card-content-wrapper #fname:focus {
  color: var(--contrast-font-color01);
  border-color: var(--primary01);
  background-color: var(--secondary01);
  outline: 3px solid transparent;
}

.card-content-wrapper #fname::placeholder {
  color: var(--contrast-font-color02);
}

.card-content-wrapper #fname:focus::placeholder {
  color: var(--secondary02);
}

.discover-main .demographics-card,
.discover-main .user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  border-radius: var(--radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--contrast-font-color01);
}

.discover-main .card-content-wrapper {
  width: fit-content;
}

.discover-main .demographics-card p {
  color: var(--primary02);
}

.discover-main .demographics-card p:first-child {
  color: var(--font-color);
  font-size: 0.8rem;
  width: fit-content;
}

.discover-main .demographics-card p:last-child {
  width: fit-content;
  font-weight: 700;
  font-size: 2.6rem;
}

.discover-main .photos {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.discover-main .photo-card {
  border-radius: var(--radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: var(--gap) 0.1px;
  color: var(--font-color);
  background-color: var(--bg-color-06);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.location-card {
  border-radius: var(--radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  padding: 0;
  position: relative;
  filter: brightness(1);
  transition: 0.3s all ease;
}


.location-card:hover {
  transform: scale(1.01);
  filter: brightness(0.9);
}


.location-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
}

.discover-main .photo-card:nth-child(odd) {
  background-color: var(--bg-color-01);
  color: var(--bg-light-01);
}

.discover-main .photo-card:nth-child(3) a {
  color: var(--contrast-font-color01);
}

.discover-main .photo-card:nth-child(3) a:visited {
  color: var(--warn);
}

.discover-main .photo-card h2 {
  margin: var(--gap);
}

.discover-main .photo-card p {
  margin: var(--gap);
  max-width: 700px;
}

.discover-main .photo-card .left-alg-p {
  text-align: left;
}

.discover-main .photo-card button {
  font-size: 0.95rem;
  margin: var(--gap) 0;
  min-width: 160px;
}

.discover-main .photo-card img[data-image] {
  filter: blur(4px);
  border-radius: 0px 0px;
  width: 100%;
  max-width: 50px;
}

.discover-main .photo-card img {
  filter: blur(0);
  border-radius: var(--radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  max-width: 550px;
  transition: .5s;
}

/**********/
/* FOOTER */
/**********/

.footer-card {
  padding: calc(var(--gap) * 3);
  background-color: var(--bg-light-01);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--gap) * 3);
}

footer .logo-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--gap);
  border: var(--border-line-02);
  border-radius: var(--radius);
  padding: calc(var(--gap) * 1.5);
}

footer .foot-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  max-width: 900px;
}

footer .foot-wrapper:last-of-type {
  gap: 0;
  font-size: 0.9rem;
  color: var(--font-grey-color);
}

footer .foot-wrapper:last-of-type span {
  display: none;
}

footer .foot-wrapper #copyright {
  display: inline;
}

footer .contact-info {
  color: var(--font-grey-color);
  text-align: center;
  font-size: 0.9rem;
}

footer hr {
  margin: var(--gap);
  width: calc(100% - var(--gap));
  max-width: 900px;
  border: var(--hr-border);
}

.show-menu {
  display: flex;
}