@media only screen and (min-width: 990px) {
	:root {
		--white-space: 8px;
	}

	/********/
	/* MAIN */
	/********/
	main {
		margin: 0 calc(var(--white-space) * 2);
		grid-template-columns: 1fr 2.1fr 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			"main-event main-hero main-spotlights"
			"main-weather main-hero main-spotlights"
			"main-join main-news main-spotlights"
		;
	}

	main .hero {
		height: calc(400px + var(--white-space) * 3);
		
	}

	main .event {
		grid-area: main-event;
		display: block;
		text-align: center;
	}

	main .event-picture-wrapper {
		height: 130px;
		width: 200px;
		margin: 0 auto;
		margin-bottom: var(--white-space);
	}

	main .event p {
		display: none;
	}

	main .event button {
		width: 70%;
	}

	main .weather {
		grid-area: main-weather;
	}

	main .spotlights {
		height: calc(600px + var(--white-space) * 6);
		flex-direction: column;
		padding: calc(var(--white-space) * 1.2);
		gap: calc(var(--white-space) / 2);
	}

	main .spotlights article {
		width: calc(100% - var(--white-space) * 2);
	}

	main .spotlights article:last-child {
		width: calc(100% - var(--white-space) * 2);
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: var(--white-space);
		background-color: var(--font-color);
		color: var(--bg--contrast-light-01);
	}
}