@media screen and (min-width: 1024px) {

  /********/
  /* MAIN */
  /********/
  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  main .hero-card {
    height: 260px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  main .hero-card,
  main .spotlights-wrapper {
    grid-column: 1 / 4;
  }

  main .events-card {
    grid-column: 1 / 3;
  }

  main .spotlights-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    padding: 0;
  }

  main .spotlights-wrapper h2 {
    display: none;
  }

  main .spotlight-card {
    margin: var(--gap);
  }

  .discover-main-tag {
    display: flex;
  }

  footer .foot-wrapper:first-of-type {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  footer .foot-wrapper:last-of-type p {
    display: none;
  }

  footer .foot-wrapper:last-of-type span {
    display: block;
  }

}