@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --font: "Roboto Condensed", Arial, 'Trebuchet MS';
  --font-dark-color: #000000;
  --font-grey-color: rgb(57, 57, 57);
  --bg-color-01: #0a0443;
  --bg-color-02: #2c2292;
  --bg-color-03: #3c38e5;
  --bg-color-04: #00b5b6;
  --bg-color-05: #00e5df;
  --bg-light-01: #e1e1e1;
  --border-line-01: 1px solid #e1e1e1;
  --border-line-02: 1px solid #c7c7c7;
  --hr-border: 0.1px solid #c9c9c9;
  --contrast-01: #df9803;
  --contrast-01-lighter: #ffb414;
  --bg-white: #ffffff;
  --gap: 10px;
  --radius: 4px;
  --shadow-light:rgba(0, 0, 0, 0.09) 0px 3px 12px;
  --transition-duration: .32s;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  min-width: 350px;
  max-width: 1200px;
  color: var(--bg-color-01);
  margin: 0 auto;
}

.basic-card {
  min-height: 50px;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 2);
  box-shadow: var(--shadow-light);
  padding: var(--gap);
  margin: var(--gap);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.button-01 {
  background-color: var(--bg-color-02);
  color: var(--bg-white);
  height: 37px;
  width: 150px;
  border: none;
  border-radius: calc(var(--radius) / 1.6);
  box-shadow: var(--shadow-light);
  font-size: 0.9rem;
  transition: calc(var(--transition-duration) / 3);
}

.button-01:hover {
  background-color: var(--bg-color-03);
}

.button-01:active {
  background-color: var(--bg-color-04);
  color: var(--bg-color-01);
  margin-top: 0.3px;
  margin-left: 0.3px;
}


/**************/
/* SCROLL-BAR */
/**************/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-light-01);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-color-05);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--contrast-01);
}